$colorOrange: #e55a54;
$colorBlue: #0c4475;

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  @include size(100%);
  background-color: $colorOrange;
  @include flexCenter;
  font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.pageLoading {
  position: fixed;
  @include size(100%);
  left: 0;
  top: 0;
  @include flexCenter;
  background-color: $colorBlue;
  flex-direction: column;
  transition: opacity 0.5s 0.5s;

  &.complete {
    opacity: 0;
    .monster {
      transform: scale(0.01) rotate(360deg);
    }
  }
}

.monster {
  @include size(110px);
  background-color: $colorOrange;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  @include flexCenter;
  flex-direction: column;

  .eye {
    @include size(40%);
    border-radius: 50%;
    background-color: #fff;
    @include flexCenter;
  }

  .eyeball {
    @include size(50%);
    border-radius: 50%;
    background-color: $colorBlue;
  }

  .mouth {
    @include size(32%, 12px);
    border-radius: 12px;
    background-color: white;
    margin-top: 15%;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    @include size(20%, 10px);
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: -10px;
  }

  &:before {
    transform: translateX(-70%) rotate(45deg);
  }

  &:after {
    transform: translateX(-30%) rotate(-45deg);
  }

  box-shadow: 0px 10px 20px rgba(black, 0.2);

  &,
  * {
    transition: 0.5s;
  }

  &.blue {
    background-color: $colorBlue;
    animation-delay: 0.5s;
    .mouth,
    .eyeball {
      background-color: $colorOrange;
    }
  }

  @keyframes jumping {
    50% {
      top: 0;
      box-shadow: 0px 10px 20px rgba(black, 0.2);
    }
    100% {
      top: -50px;
      box-shadow: 0px 120px 50px rgba(black, 0.2);
    }
  }

  @keyframes eyemove {
    0%,
    10% {
      transform: translate(50%);
    }
    90%,
    100% {
      transform: translate(-50%);
    }
  }

  position: relative;
  animation: jumping 0.8s infinite alternate;

  .eyeball {
    animation: eyemove 1.6s infinite alternate;
  }
}

.loading {
  @include size(200px, 8px);
  margin-top: 80px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;

  .bar {
    background-color: $colorOrange;
    @include size(0%, 100%);
  }
}

h2 {
  color: white;
  font-size: 40px;
  margin-right: 50px;
}

h3 {
  margin-top: 0;
  opacity: 0.5;
  color: white;
}
